body {
  background-color: #FCF9EA;
}

.col{
  min-height: 1px;
}

nav {
	background-color: #F86547;
}

footer {
  background-color: #F86547;
  width: 100%;
  bottom: 0;
  position: fixed;
}

.gmailImg {
  width:100px; /* you can use % */
  height: auto;
}

.slackImg {
  width:100px; /* you can use % */
  height: auto;
}