body {
  background-color: #FCF9EA;
}

.col{
  min-height: 1px;
}


header, main{
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.card{
  background-color: #D65822;
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


nav {
  background-color: #2C2723;
}

/* FOR INDEX */
footer {
  background-color: #2C2723;
  width: 100%;
  bottom: 0;
  position: fixed;
}

#footer {
  color: white;
  text-align: center;
}

.btn {
  background-color: #D65822 !important;
}
/* FOR INDEX */


.collection {
  height: 150px;
  width: auto;
  overflow: scroll;
  background-color: #FCF9EA !important;
  margin: -1% 0 0 0;
}

.card-title{
  margin: -10% 0 0 0;
  color: #2C2723;
  font-weight: bold;
}

.card-action a{
  color: #2C2723;
}

.btnName{
  float: right;
  margin: 10% 20% 0 0;
  color: #FCF9EA;
  position: relative;
  font-size: 20px;
}


#allbtn{
  margin: 10px 0px 10px 0px;
}


/* FOR GMAIL */
#gmailImg {
  width:100px; /* you can use % */
  height: auto;
  margin-left: 10%;
  position: relative;
}

.gbutton {
  width:350px; /* you can use % */
  height: auto;
  background-color: #2C2723;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 10px 10px 10px;
}



/* FOR SLACK */
#slackImg {
  width:100px; /* you can use % */
  height: auto;
  margin-left: 10%;
  position: relative;
}

#giphyimg {
  width:120px;
  height:120px;
}

/*.gcard {*/
  /*margin-bottom: 10%;*/
/*}*/


#gmailbutton{
  margin-bottom: 10%;
}


@media only screen and (max-width : 600px) {
  /*.gcard {*/
    /*margin-bottom: 20%;*/
  /*}*/

  .card{
    background-color: #D65822;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #gmailbutton{
    margin-bottom: 20%;
  }
}


/* FOR TWITTER */
#twitterImg {
  width:100px; /* you can use % */
  height: auto;
  margin-left: 10%;
  position: relative;
}




.waves-effect, .card .card-action {
  z-index: 0;
}
