body {
  background-color: #FCF9EA;
}

.col{
  min-height: 1px;
}

nav {
	background-color: #F86547;
}

footer {
  background-color: #F86547;
  width: 100%;
  bottom: 0;
  position: fixed;
}

.gmailImg {
  width:100px; /* you can use % */
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.slackImg {
  width:100px; /* you can use % */
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.card-content {
  height: 350px;
  width: auto;
  overflow: scroll;
}