<div class="col m4">
  <button ng-show="gC.user.gmailAccessToken === ''" ng-click="gC.gmailLogin()"><img src="https://lh6.ggpht.com/8-N_qLXgV-eNDQINqTR-Pzu5Y8DuH0Xjz53zoWq_IcBNpcxDL_gK4uS_MvXH00yN6nd4=w300"> <span>Log in</span></button>
  <div class="card" ng-show="gC.user.gmailAccessToken !== ''">

    <div class="card-content">
      <span class="card-title">Gmail</span>
      <ul class="collection">
        <li ng-repeat="unreadMail in gC.messages|orderBy: 'fromEmail'">
          <span>{{unreadMail.fromEmail}}: {{unreadMail.snippet}}</span>
        </li>
      </ul>
    </div>
    <div class="card-action">
      <a ng-click="gC.gmailLogout()" href="#!">log out</a>
    </div>
  </div>
</div>