<div class="col xs12 s12 m12">
  <div class="gbutton">
    <a class="z-depth-4" ng-show="gC.user.gmailAccessToken === ''" ng-click="gC.gmailLogin()" title="Gmail Login" href="#!">
      <img src="https://lh6.ggpht.com/8-N_qLXgV-eNDQINqTR-Pzu5Y8DuH0Xjz53zoWq_IcBNpcxDL_gK4uS_MvXH00yN6nd4=w300" id="gmailImg">
      <span class="btnName">GMAIL</span>
    </a>
  </div>

  <div class="card gcard" ng-show="gC.user.gmailAccessToken !== ''">
    <div class="card-content">
      <span class="card-title">Gmail</span>
      <ul class="collection">
        <li ng-repeat="unreadMail in gC.messages| orderBy: snippet">
          <div ng-if="unreadMail.fromEmail == ''">
            <p>{{unreadMail.snippet}}</p>
          </div>
          <div ng-if="unreadMail.fromEmail != ''">
            <p>From: {{unreadMail.fromEmail}}</p>
            <p>About: {{unreadMail.snippet}}</p>
          </div>
          </br>
        </li>
      </ul>
    </div>
    <div class="card-action">
      <a ng-click="gC.gmailLogout()">log out</a>
    </div>
  </div>

</div>