<div class="col xs6 s6 m4">
  <a ng-show="gC.user.gmailAccessToken === ''" ng-click="gC.gmailLogin()" title="Gmail Login" href="#!">
    <img src="https://lh6.ggpht.com/8-N_qLXgV-eNDQINqTR-Pzu5Y8DuH0Xjz53zoWq_IcBNpcxDL_gK4uS_MvXH00yN6nd4=w300" class="gmailImg">
  </a>

  <div class="card" ng-show="gC.user.gmailAccessToken !== ''">
    <div class="card-content">
      <span class="card-title">Gmail</span>
      <ul class="collection">
        <li ng-repeat="unreadMail in gC.messages| orderBy: snippet">
          <p>From: {{unreadMail.fromEmail}}</p>
          <p>About: {{unreadMail.snippet}}</p>
          </br>
        </li>
      </ul>
    </div>
    <div class="card-action">
      <a ng-click="gC.gmailLogout()">log out</a>
    </div>
  </div>

</div>