<div class="col xs12 s12 m12">
  <div class="gbutton">
    <a ng-show="slackC.user.slackToken === ''" ng-click="slackC.slackLogin()" title="Slack Login" href="#!">
      <img src="https://upload.wikimedia.org/wikipedia/en/7/76/Slack_Icon.png" alt="" id="slackImg">
      <span class="btnName">SLACK</span>
    </a>
  </div>

  <div class="card"  ng-show="slackC.user.slackToken !== ''">
    <div class="card-content">
      <span class="card-title">Slack</span>
      <ul class="collection">
        <li ng-repeat="message in slackC.messages">
          <span ng-if="message.image_url == undefined || message.image_url == null || message.image_url == ''">
            {{message.user.name}}: {{message.text}} <span ng-show="message.channel !== undefined"> on {{message.channel.name}}</span>
          </span>

          <span ng-show="message.image_url != undefined && message.image_url != null && message.image_url != ''">
            <img src="message.image_url">
          </span>
        </li>
      </ul>
    </div>
    <div class="card-action">
      <a ng-click="slackC.slackLogout()">log out</a>
    </div>
  </div>

</div>