<!--Nav Bar-->
<!--<nav>-->
<!--<div class="nav-wrapper">-->
<!--<a href="#!" class="brand-logo center">1View</a>-->
<!--</div>-->
<!--</nav>-->

<!--Nav Bar-->
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">1View</a>
    <ul class="right">
      <!--<li><a ng-click="uC.logOut()">Logout</a></li>-->
      <button ng-click="uC.logOut()">Logout</button>
    </ul>
  </div>
</nav>

<div class="row">
  <div ui-view="slack"></div>
  <div ui-view="facebook"></div>
  <div ui-view="gmail"></div>
</div>


  <!--<div class="row">-->

    <!--<button ng-click="uC.logOut()">Logout</button>-->

  <!--</div>-->
